


/*header*/
header{
    width: 100%;
    height: fit-content;
        
        /*logo*/
        .top-header{
            text-align: center;
            h1{
                a img{
                    margin: 2% 9%;
                        @media all and (max-width: 980px) {
                            display: flex;
                        }
                        // @media all and (min-width: 480px) and (max-width: 630px){
                        //     padding: 0 8%;
                        // }
                }
            }
            
        }
        
        /*menu nav*/
        nav{

            /*boton burguer*/
            input{
                display: none; //es el cuadrito del checkbox SIMEPRE invisible
            }
            label{
                display: inline;
                .btn {
                    display: none;//no quiero q sea vea el boton desktop
                    position: absolute; // le doy absolute para q no rompa en resp
                    width:32px;
                    height:43px;
                    right: 2.5rem;
                    top: 3.3rem;
                    padding: 0;
                    cursor: pointer;    
                    span{        
                        display: block; //lo convierto en bloque
                        width: 100%; // ocupe el tamaño del papa(.btn) de 30px
                        height: 2px;
                        background: #3FB6B0;
                        margin-top: 6px;
                        transition: all 300ms;
                        transform-origin: 0px 100%; // lo mantiene pegado en en el padre
                        /*transformacion de la cruz*/
                        &.linea1active {
                            transform: rotate(38deg) translate(1px, -1px);
                        }
                        &.linea2active { //esta linea desaparece
                            opacity: 0;
                            margin-left: -30px;
                        }
                        &.linea3active{
                            transform: rotate(-38deg) translate(1px, 3px);
                        }
                        /* fin transformacion de la cruz*/
                    }
                    /*fin boton burguer*/
                }
            } 
            
            //menu nav
            ul{
                text-align: center;
                margin-bottom: 0;
                padding-left: 0;
                transition: all 0.5s ease-in-out;
                    li{
                        display: inline-block;
                        list-style: none;
                        padding-left: 20px;
                        color: #3FB6B0;
                        font-family: Inter, sans-serif;
                        &:hover{
                            color:#5CB235;
                        }
                        
                        a, ul li{  
                            font-family: Inter, sans-serif;
                            text-decoration: none;
                            color: #3FB6B0;
                            padding-left: 0px;
                                @media all and (max-width: 980px) {
                                    font-size: .8em;
                                }
                                &:hover{
                                    color:#5CB235;
                                }
                        }
                    }
                }
                    .desplegable{
                        .sub-menu{
                            transform: translateY(-5%);
                            display: flex;
                            opacity: 0;
                             // por default esta bloqueado
                            transition: all 300ms ease-out;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: unset; //no hereda el del ul (50px)
                            position: absolute;  //esto evita que se rompa cuando abre el submenu
                            font-size: 0.8rem;
                            padding-top: 10px;
                        }
                        &:hover > .sub-menu{ // cuando paso el mouse por encima se me muestra el submenu   
                            transform: translateY(5%);
                            opacity: 1;
                            // background-color: rgba($color: #ffffff, $alpha: 0.3);
                            border-top: 1px solid #5CB235;
                        }
                        //flechita de submenu
                        .arrow{
                            font-size: 10px;
                            padding: 3px;
                            transition: all 300ms ease-out;
                            @media all and (max-width: 980px) {
                                font-size: 1.8rem;
                            }
                        }
                        &:hover > .arrow{
                            transform: rotate(-180deg);
                        }
                }
            }
            
    } 
            // menu nav fijo cuando scrolleo, lo manejo con js
            .fixed{
                position: fixed;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 81px;
                background: #3FB6B0;
                top: 0;
                z-index: 6;
                align-items: center;
                transition: all 0.5s ease-in-out;
                li, li a{
                    color: white;
                    @media all and (min-width: 980px) {
                    &:hover{
                        color: $color-violet-femi;
                        :nth-child(3){
                            padding: 0.5%;
                            background-color: $color-green-femi;
                        }
                    }
                }
                }
                li ul li a {
                    background: #5CB235;
                    @media all and (min-width: 980px) {
                        background-color: inherit;
                        &:hover{
                            color: $color-violet-femi;
                        }
                    }
                }
                .desplegable:hover > .sub-menu{ // cuando paso el mouse por encima se me muestra el submenu   
                            
                            border-top: 1px solid $color-violet-femi;

                }
                .desplegable:hover > .arrow{
                    color: $color-green-background;
                }
                
                
            }
            @media all and (max-width: 980px) {
                header{
                    height: fit-content;
                    background-color: $color-green-background;
                    box-shadow: 0 10px 20px rgb(63 182 176 / 19%), 0 6px 6px rgb(63 182 176 / 23%);
                    position: fixed;
                    top: 0;
                    z-index: 90;
                    transition: all .5s ease-in-out;
                    div h1 a img{
                        width: 18%;
                        @media all and (max-width: 630px) {
                            width: 18%;
                        }
                    }
                    nav {
                        #menu-burguer:checked ~ ul{
                            left: 0;
                            height: 100vh;
                        }
                        #menu-burguer:checked ~ body{
                            overflow-y: hidden; // le saco el scroll a toda la pagina
                        }
                        #menu-burguer:checked ~ label .btn span {
                            background: white;
                        }
                        label .btn{
                            display: block;
                            right: 10%;
                            top: 20%;
                            z-index: 99;
                            @media all and (max-width: 480px) {
                                top: 17%;
                            }
                            
                        }
                        ul{
                            display: flex;
                            padding: 15% 0%;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            position: fixed; // lo fijo en toda la pantalla por encima
                            top: 0vh; // ocupa toda la pantalla apartir de aca (nav)
                            width: 100%;
                            height: 100vh;
                            background-color: #3FB6B0;
                            z-index: 98; // lo pongo por encima de todo
                            left: 100%; //con esto lo escuendo para q luego aparezcs desde aca
                            transition: all 0.5s;
                            li{
                                display: block;
                                font-size: 2em;
                                padding-left: 0px;
                                a, a:not([href]):not([class]) { // esto es porque descargable no tiene href
                                    text-decoration: none;
                                    color: white;
                                    &:active{
                                        color: #874F9D;
                                    }
                                }
                            }
                            .desplegable{
                                position: relative;
                                .sub-menu{
                                    height: auto;
                                    left: auto;
                                    display: none;
                                    opacity: 0;
                                     // por default esta bloqueado
                                    transition: all 300ms ease-out;
                                    border-top: 1px solid white!important;
                                    margin-top: unset; //no hereda el del ul (50px)
                                      //esto evita que se rompa cuando abre el submenu
                                    font-size: 0.8em;
                                    padding-top: 10px;
                                    &:target{
                                        display: flex;
                                        opacity: 1;
                                        flex-direction: column;
                                        align-items: center;
                                        transform: translateY(-8%);
                                    }
                                }
                            }
                        }
                    }
                } 
                .arrow{
                    display: none;
                }     
            }