@import 'extends';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; // suaviza el scroll pero no funciona
}


body{
    background-color: white;
}

p {
    font-family: $font-paragraph;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
    &:hover{
        color: inherit;
    }
}

.contacto-heading, .heading-post {
    font-family: $font-heading;
    color: $color-violet-femi;
    font-size: 32px;
    text-align: center;
    margin-bottom: 2%
}

.heading-t1, .heading-t2 {
    margin-left: 6%;
    font-weight: bolder;
    color: $color-green-femi;
    font-size: 42px;
    line-height: 45px;
    font-family: $font-heading;/*desde aca*/
    /*Prueba animacion titulos*/
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: absolute;
    overflow: hidden;
    /*el height pega el titulo a la linea, regular en querys*/
    
}

@keyframes slide-top {
0% {
    height: 0px;
    transform: translateY(-50%);
}
100% {
        
    transform: translateY(-85%);
}
}
// .heading-t2 {
//     font-weight: bolder;
//     color: $color-violet-femi;
//     font-size: 60px;
//     line-height: 0;
//     font-family: $font-heading;
// }
.newsletters-heading-2, .integrantes-heading-2{
    font-family: $font-heading;
    font-size: 28px;
    // color: $color-green-yellow-femi;
    color: white;
}

p::selection, strong::selection, i::selection, br::selection,h1::selection, h2::selection, .heart::selection, a::selection, img::selection{
    background-color: $color-violet-femi;
    color: $color-lilac-background;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px){
    .contacto-heading {
        font-size: 25px;
        text-align: center; 
    }  
    
    .heading-t1, .heading-t2{
        font-size: 25px;
        height: 36px;
    }

    .index-text{
        text-align: justify;
        font-size: 15px;
    }
    .text-integrante>p, .newsletter-div>p {
        font-size: 16px;
    }
    .integrantes-heading-2{
        font-size: 25px;
    }
    .newsletters-heading-2{
        font-size: 20px;
    }
}

/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 630px){
    .integrantes-heading, .contacto-heading, .heading-post {
        font-size: 25px;
        text-align: center; 
    }
    
    .newsletters-heading-2, .integrantes-heading-2{
        font-size: 25px;
    }
    .heading-t1, .heading-t2{
        font-size: 30px;
        height: 39px;
    }
    .a ul {
        margin-inline-start: 0px;
    }
}


.disclaimer {
    display: none;
}