/*Header map*/

$header:(
    bg-button:rgba(211, 228, 205, 0),
    border-button: #3FB6B0,
    border-button-width: 3px,
    text-menu-color: #874F9D,
    text-menu-size: 1em,
    text-menu-decor: none,    

);
