$color-violet-femi:#874F9D;
$color-green-femi:#3FB6B0;
$color-green-yellow-femi:#4FAC24;
$color-green-background: #e7f6f5;
$color-lilac-background: #D9D7F1;
$color-dark-violet:  #4A005D;
$color-green-bg2: #C0D9BE;
$color-green-bg3: #ADCEAE;

$font-paragraph:'Roboto', sans-serif;

$font-heading: 'Inter', sans-serif;